spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/canonical_db
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never
  activemq:
    broker-url: tcp://localhost:61616
    user: admin
    password: admin
  jms:
    listener:
      min-concurrency: 5
      max-concurrency: 10
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

server:
  port: 8086

validation:
  nav:
    cutoff: "15:00"
  minimum:
    amount: 1000

jms:
  queue:
    file-upload: file-upload-queue
    order-events: order.event

aws:
  access-key-id: 
  secret-access-key: 
  session-token: 
  region: 
  s3:
    bucket:
      name: simulator-trade-bucket
  sqs:
    queue-name: simulator-trade-queue
    enabled: false


file:
  processing:
    threads: 5

temp:
  directory: ./temp

redis:
  stream:
    name: status-stream
    dlq-name: status-dlq
